@use "~bootstrap/scss/bootstrap" as bs;
@use "sass:math";

html,
body,
#root {
  min-height: 100vh;
}

#root {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

#site-header {
  padding-left: bs.$container-padding-x;
  padding-right: bs.$container-padding-x;
  margin-bottom: math.div(bs.$container-padding-x, 2);
  display: grid;
  grid-template-columns: 1fr 1fr max-content max-content;
  grid-gap: 1rem;

  svg {
    max-height: 2.5rem;
  }

  .user-avatar {
    border-radius: 50%;
    max-height: 2.5rem;
  }

  .navbar-brand {
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
    padding: 0;
  }

  i {
    vertical-align: bottom;
  }
}

#site-footer {
  margin-top: math.div(bs.$container-padding-x, 2);
  border-top: bs.$border-width bs.$border-style bs.$border-color;

  display: flex;
  justify-content: center;
}

.sub-nav {
  margin-bottom: math.div(bs.$container-padding-x, 2);
}

main {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  margin-bottom: 1em;
}

.flash-message-list {
  margin-top: 1em;
}

.form-actions {
  margin-top: 2rem;
  border-top: bs.$border-width bs.$border-style bs.$border-color;
  padding-top: 1rem;

  .btn + .btn {
    margin-left: 0.5rem;
  }
}

.spinner-expanded {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100%;

  & > div {
    width: 20vw;
    height: 20vw;
  }
}

.action-column {
  text-align: right;
}

.no-data {
  font-style: italic;
}

tr.no-data {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
}

.pagination {
  margin-top: 2rem;
  justify-content: center;
}
